
<!DOCTYPE html>
<html lang="en-US" data-theme="dark" data-upcolor="upgreen" data-brand="green" dir="ltr" itemscope itemtype="http://schema.org/Organization" translate="no">
<head>
    <meta charSet="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <link rel="canonical" href="https://zycrypto.info/about.html" />
    
    <link rel="icon" href="/files/systems/logo-icon.png">

    

    
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/libs/theme/v1/vendors/gt4188f.js?v=4.1.1" async="">
    </script>
    <script src="/libs/theme/v1/fonts/iconfont/iconfont24aa.js?v=100037" async="">
    </script>

    <link rel="stylesheet" href="/libs/theme/v1/fonts/iconfont/iconfont24aa.css?v=100037" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="/libs/owl/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/libs/owl/css/owl.theme.default.min.css" rel="stylesheet" />


    <title>ZYCrypto - Crypto Trading Platform | Buy Bitcoin, Ethereum, NFT</title>

    <META name="title" CONTENT="ZYCrypto - Crypto Trading Platform | Buy Bitcoin, Ethereum, NFT">
    <meta name="keywords" content="Crypto Exchange, Cryptocurrency Trading, Buy Bitcoin, Blockchain, BTC, ETH, MX, SOL, DeFi, Memecoins, NFT" />
    <meta name="description" content="ZYCrypto Crypto Exchange. Our platform provides free and safe digital asset trading, real-time prices of crypto tokens such as Bitcoin BTC, Ethereum ETH plus other altcoins: NFT, DeFi, GameFi and Metaverse zones. Buy crypto on ZYCrypto!">
    <meta name="author" content="ZYCrypto.info">

    <meta name="geo.region" content="UK" />
    <meta name="geo.placename" content="Ipswich" />
    <meta name="geo.position" content="52.05413782133959, 1.1433625000001" />
    <meta name="ICBM" content="52.05413782133959, 1.1433625000001" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="ZYCrypto - Crypto Trading Platform | Buy Bitcoin, Ethereum, NFT">
    <meta itemprop="description" content="ZYCrypto Crypto Exchange. Our platform provides free and safe digital asset trading, real-time prices of crypto tokens such as Bitcoin BTC, Ethereum ETH plus other altcoins: NFT, DeFi, GameFi and Metaverse zones. Buy crypto on ZYCrypto!">
    <meta itemprop="image" content="https://zycrypto.info/files/systems/bg-market.jpg">


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="ZYCrypto Crypto Exchange. Our platform provides free and safe digital asset trading, real-time prices of crypto tokens such as Bitcoin BTC, Ethereum ETH plus other altcoins: NFT, DeFi, GameFi and Metaverse zones. Buy crypto on ZYCrypto!" />
    <meta name="twitter:title" content="ZYCrypto - Crypto Trading Platform | Buy Bitcoin, Ethereum, NFT" />
    <meta name="twitter:image" content="https://zycrypto.info/files/systems/bg-market.jpg" />

    <!-- Open Graph data -->
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ZYCrypto - Crypto Trading Platform | Buy Bitcoin, Ethereum, NFT" />
    <meta property="og:description" content="ZYCrypto Crypto Exchange. Our platform provides free and safe digital asset trading, real-time prices of crypto tokens such as Bitcoin BTC, Ethereum ETH plus other altcoins: NFT, DeFi, GameFi and Metaverse zones. Buy crypto on ZYCrypto!" />
    <meta property="og:url" content="https://zycrypto.infohttps://zycrypto.info/about.html" />
    <meta property="og:site_name" content="ZYCrypto - Crypto Trading Platform | Buy Bitcoin, Ethereum, NFT" />
    <meta property="og:image" content="https://zycrypto.info/files/systems/bg-market.jpg" />
    <meta property="og:image:alt" content="ZYCrypto - Crypto Trading Platform | Buy Bitcoin, Ethereum, NFT" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />

    <meta name="google-site-verification" content="-Xq--sxc5J8C4sjT5IE5ooCvrawF0tNLvbjQLTudJPQ" />

    <link rel="image_src" type="image/jpeg" href="https://zycrypto.info/files/systems/bg-market.jpg" />

    <link rel="icon" type="image/x-icon" href="https://zycrypto.info/files/systems/logo-icon.png" sizes="32x32">
    <link rel="icon" type="image/x-icon" href="https://zycrypto.info/files/systems/logo-icon.png" sizes="96x96">
    <link rel="icon" type="image/x-icon" href="https://zycrypto.info/files/systems/logo-icon.png" sizes="128x128">
    <link rel="icon" type="image/x-icon" href="https://zycrypto.info/files/systems/logo-icon.png" sizes="192x192">



    <meta name="next-head-count" content="47" />
    <style id="disable-transition">
        * {
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -o-transition: none !important;
            -ms-transition: none !important;
            transition: none !important
        }
    </style
